beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
dnspython==1.16.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.1
numpy==1.16.2
pygal==2.4.0
pymongo==3.7.2
pyparsing==2.4.0
python-dateutil==2.8.0
python-dotenv==0.10.1
requests==2.21.0
six==1.12.0
soupsieve==1.8
urllib3==1.24.1
Werkzeug==0.15.3
WTForms==2.2.1
