
/*
==================================================================
    Variables / Fonts
==================================================================
*/


:root {
    --green: #4D875D;
    --grey: #666666;
    --lightgrey: #999999;
    --black:#262626;
    --medblack: #2d2d2d;
    --lightblack: #434343;
    --white: #f5f5f5;
    --darkwhite: #e8e8e8;
    --blue: #1E87F0;
    --darkblue: #506377;
    --transition: 0.35s;
    --box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    --light-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

@font-face {
    src: url('../fonts/ProximaNova-Light.woff2');
    font-family: 'ProximaNova Light';
}

@font-face {
    src: url('../fonts/ProximaNova-Reg.woff2');
    font-family: 'ProximaNova Regular';
}

@font-face {
    src: url('../fonts/Ubuntu-Bold.ttf');
    font-family: 'Ubuntu';
}


/*
==================================================================
    General
==================================================================
*/


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'ProximaNova Light', Roboto, sans-serif;
    background-color: var(--white);
    color: var(--grey);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ProximaNova Regular', Roboto, sans-serif;
    color: var(--black);
}

h1, h2,
.uk-h1, .uk-h2 {
    font-family: 'ProximaNova Light', Roboto, sans-serif;
    text-decoration-color: var(--black) !important;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

main {
    flex: 1;
    margin-top: 50px;
}

footer {
    margin-top: 60px;
    padding: 30px 0 10px;
    color: var(--white);
    background-color: var(--darkblue);
}

footer a.uk-icon-button.uk-icon {
    background-color: transparent;
    color: white;
}

footer a.uk-icon-button.uk-icon:hover {
    opacity: 0.7;
}

footer img {
    margin-top: -3px;
}


/*
==================================================================
    Forms
==================================================================
*/


.uk-input {
    margin-top: 10px;
    border: 1px solid var(--lightgrey);
}

.uk-input:focus {
    border-color: var(--grey);
    box-shadow: var(--light-box-shadow);
}

.uk-checkbox {
    margin-right: 10px;
    border: 1px solid var(--lightgrey);
}

.uk-button, .uk-button:active, .uk-button:focus {
    background: var(--darkblue);
    color: var(--white);
    cursor: pointer;
}

.uk-button:hover {
    background-color: var(--lightblack);
    box-shadow: var(--light-box-shadow);
}

.flashes {
    font-weight: bolder;
    color: crimson;
}


/*
==================================================================
    Slider
==================================================================
*/


.featured-slider-card {
    width: 100%;
}

.uk-card-badge {
    top: 10px;
    right: 10px;
    color: white !important;
    background-color: var(--darkblue) !important;
}

.uk-slidenav-next, .uk-slidenav-previous {
    color: var(--lightblack) !important;
}

.slider-icons {
    padding-right: 10px;
    color: var(--black) !important;
}

.slider-icons:last-of-type {
    margin-left: 10px;
}

.card-lead-text {
    display: inline-block;
    width: 80px;
    color: var(--black) !important;
}

.uk-card-title a {
    text-decoration: none;
    color: var(--black) !important;
}

.uk-card-title a:hover, a.uk-h5:hover {
    opacity: 0.7;
    text-decoration: none;
    color: var(--black) !important;
}

.uk-iconnav > * > a {
    text-decoration: none;
    color: var(--black);
}


/*
==================================================================
   Index Page
==================================================================
*/


#cta {
    border-radius: 10px;
    font-weight: bold;
    background-image: linear-gradient(to bottom right,rgba(76, 76, 76, 0.3),rgba(224, 224, 224, 0.3)), url(../images/cta-bg.jpg);
}

#cta p {
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}


/*
==================================================================
    Recipe Page
==================================================================
*/


.cuisine-badge {
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--white);
    background-color: var(--darkblue);
}

.tags {
    padding: 0 5px;
}

.uk-padding-bottom {
    padding-bottom: 40px;
}

.uk-comment, .uk-placeholder {
    background-color: var(--darkwhite) !important;
    border-radius: 5px;
}

.uk-comment-title {
    text-transform: capitalize;
}

p.comment {
    padding-left: 110px;
    padding-bottom: 10px;
}


/*
==================================================================
    Sign In / Out Page
==================================================================
*/

#sign {
    max-width: 350px;
    min-width: 250px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}

#sign form {
    text-align: left;
}

#sign form p {
    margin: 30px 0;
}

/*
==================================================================
    Grid
==================================================================
*/

#grid-filters-nav {
    background-color: var(--darkwhite);
}

#grid .uk-text-meta {
    color: var(--lightblack) !important;
}

.grid-image {
    border-radius: 3px;
}