
/*
==================================================================
    Variables / Fonts
==================================================================
*/

:root {
    --green: #4D875D;
    --grey: #666666;
    --lightgrey: #999999;
    --black:#262626;
    --medblack: #2d2d2d;
    --lightblack: #434343;
    --white: #e5e5e5;
    --blue: #1E87F0;
    --darkblue: #506377;
    --transition: 0.35s;
    --box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}

@font-face {
    src: url('../fonts/ProximaNova-Light.woff2');
    font-family: 'ProximaNova Light';
}

@font-face {
    src: url('../fonts/ProximaNova-Reg.woff2');
    font-family: 'ProximaNova Regular';
}


/*
==================================================================
    General
==================================================================
*/

body {
    font-family: 'ProximaNova Light', Roboto, sans-serif;
    color: var(--grey);
    background-color: var(--white);
    height: 1300px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ProximaNova Light', Roboto, sans-serif;
    color: var(--black);
}


/*
==================================================================
    Reusable Classes
==================================================================
*/