
/*
==================================================================
    Media Queries
==================================================================
*/

@media screen and (max-width: 1300px) {
    
    #navbar-large {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1200px) {
    
    #navbar-small {
        display: block;
    }
    
    #navbar-large {
        display: none;
    }

    #recipe-lists {
        flex-direction: column-reverse;
    }

    footer section div {
        display: block !important;
    }
}

@media screen and (max-width: 800px) {

    .uk-subnav > * {
        margin-left: auto;
        margin-right: auto;
        min-width: 100px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    
    #nav-search {
        display: none;
    }
}