
/*
==================================================================
    Media Queries
==================================================================
*/


@media screen and (max-width: 1300px) {
    
    #navbar-large {
        padding: 0 20px;
    }
}


@media screen and (max-width: 1200px) {
    
    #navbar-small, footer section div {
        display: block !important;
    }
    
    #navbar-large {
        display: none;
    }

    #recipe-lists {
        flex-direction: column-reverse;
    }

    #cta {
        margin-top: -20px;
    }
}


@media screen and (max-width: 800px) {

    .uk-subnav > * {
        min-width: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .uk-select {
        width: 100%;
    }

    #filters-form, #filters-grid {
        display: block;
        width: 100%;
    }
}


@media screen and (max-width: 500px) {
    
    #nav-search {
        display: none;
    }
}