{% block content %}
<article class="uk-comment uk-padding-small uk-margin-medium">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="{{ url_for('static', filename='images/profile_picture.png')}}" width="80" height="80" alt="profile picture">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove">{{ comment.user }}</h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li>{{ comment.time }}</li>
            </ul>
        </div>
    </header>
    <div class="uk-comment-body">
        <p>{{ comment.comment }}</p>
    </div>
</article>

<hr class="uk-divider">
{% endblock %}