{% block content %}
    <div id="offcanvas-menu" uk-offcanvas="mode: push; flip: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <div id="offcanvas-content">

                <!-- Logo -->
                <div id="offcanvas-logo" class="uk-text-center">
                    <a href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='images/logo_small_white.png') }}" alt="foodie logo">
                    </a>
                </div>

                <!-- Search Element -->
                <div id="offcanvas-search">
                    <a class="uk-navbar-toggle" href="#modal-full" uk-toggle>
                        <i id="offcanvas-search-icon" uk-icon="icon: search"></i>
                        <span class=uk-text-meta>Search for anything ...</span>
                    </a>
                </div>

                <!-- Menu -->
                <div id="offcanvas-menu">
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                        {% for key, value in filters.items() %}
                            <li class="uk-parent">
                                <a href="#">{{ key|title }}</a>
                                <ul class="uk-nav-sub">
                                    {% for item in value %}
                                        <li><a href="#">{{ item|title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        <li><a href="#">All Filters</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}