{% block content %}
    <ul class="uk-navbar-nav uk-navbar-right">
        {% if not current_user.is_authenticated %}
            <li><a href="#">Sign In</a></li>
            <i uk-icon="icon: ">|</i>
            <li><a href="#">Sign Up</a></li>
        {% elif current_user.is_authenticated %}
            <li><a href="#">Account</a></li>
            <i uk-icon="icon: ">|</i>
            <li><a href="#">Sign Out</a></li>
        {% endif %}
        <i uk-icon="icon: user"></i>
    </ul>
{% endblock %}