{% block content %}
    <ul class="uk-navbar-nav uk-navbar-right">
        {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('sign', url='in') }}">Sign In</a></li>
            <i uk-icon="icon: ">|</i>
            <li><a href="{{ url_for('sign', url='up') }}">Sign Up</a></li>
        {% elif current_user.is_authenticated %}
            <li><a href="{{ url_for('profile') }}">Account</a></li>
            <i uk-icon="icon: ">|</i>
            <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
        {% endif %}
        <i uk-icon="icon: user"></i>
    </ul>
{% endblock %}