{% block content %}
<div class="slider" uk-slider="center: true; autoplay: true; autoplay-interval: 5000;">
    <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                
            {% for recipe in slideshow %}
            <div class="featured-slider-card uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                
                <!-- Card Image -->
                <a href="{{ url_for('recipe', recipe=recipe._id, title=recipe.recipe_data.title|lower|replace(' ', '-')) }}">
                    <div class="uk-card-media-left uk-cover-container">
                        <img class="slider-image" data-src="{{ recipe.image_details[0] }}" alt="{{ recipe.image_details[1] }}" uk-cover uk-img>
                        <canvas width="400" height="400"></canvas>
                    </div>
                </a>

                <!-- Card Body -->
                <div class="uk-card-body">
                    <div class="uk-card-badge uk-label">{{ recipe.recipe_filters.cuisine|title }}</div>
                    <h3 class="uk-card-title"><a href="{{ url_for('recipe', recipe=recipe._id, title=recipe.recipe_data.title|lower|replace(' ', '+')) }}">{{ recipe.recipe_data.title|title }}</a></h3>
                    <p>{{ recipe.recipe_data.description }}</p>
                    <p><span class="card-lead-text">Author:</span>{{ recipe.recipe_data.author }}</p>
                    <p><span class="card-lead-text">Difficulty:</span>{{ recipe.recipe_data.difficulty }}</p>
                    <p><span class="card-lead-text">Serves:</span>{{ recipe.recipe_data.serves }}</p>
                    <p class="slider-icons"><i uk-icon="icon: bell"></i> {{ recipe.recipe_data.cook_time  }} <i uk-icon="icon: bolt"></i> {{ recipe.recipe_data.prep_time }}</p>
                    <p><a href="{{ url_for('recipe', recipe=recipe._id, title=recipe.recipe_data.title|lower|replace(' ', '+')) }}">More Details ...</a></p>
                    
                    <!-- Iconnav -->
                    <div class="uk-card-footer uk-position-bottom-right">
                        <ul class="uk-iconnav">
                            <li  uk-tooltip="title: Edit; pos: top-right"><a href="#" uk-icon="icon: file-edit"> Edit </a></li>
                            <li  uk-tooltip="title: Like; pos: top-right"><a href="#" uk-icon="icon: heart"> {{ recipe.users.likes }} </a></li>
                            <li  uk-tooltip="title: Dislike; pos: top-right"><a href="#" uk-icon="icon: trash">  {{ recipe.users.dislikes }} </a></li>
                            <li  uk-tooltip="title: Comments; pos: top-right"><a href="#" uk-icon="icon: comments">  {{ recipe.users.comments|count }} </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
        
        <!-- Arrows -->
        <a class="uk-position-center-left uk-position-small uk-hidden-hover slider-arrows" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover slider-arrows" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
</div>
{% endblock %}