 <!-- Icon Nav -->
<!-- <div class="uk-position-bottom-center">
    <p>See what were are up to on Social Media!</p>
    <ul class="uk-iconnav">
        <li><a class="uk-icon-button" href="" uk-icon="facebook"></a></li>
        <li><a class="uk-icon-button" href="" uk-icon="twitter"></a></li>
        <li><a class="uk-icon-button" href="" uk-icon="google"></a></li>
        <li><a class="uk-icon-button" href="" uk-icon="youtube"></a></li>
    </ul>
</div> -->

<!-- Search Element -->
<!-- <div id="offcanvas-search">
    <a id="search-icon" class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>
    <a href="#modal-full" uk-toggle>search ...</a>
</div> -->