{% extends 'base.html' %}

{% block content %}
<section id="categories" class="uk-container">
    <h1 class="uk-heading-divider uk-h2">Featured {{ data|title }} Recipes</h1>

    <!-- Slider -->
    {% include 'partials/_slider.html' %}

    <!-- Divider -->
    <hr class="uk-icon-divider">

    <!-- Grid Title -->
    <h2>All {{ data|title }} Recipes 
        <span class="uk-text-small">({{ (page-1)*num }} - {{ recipes|count+(page-1)*num }} of {{ count }} recipes)</span>
    </h2>

    <!-- Sort by Filters -->
    {% include 'partials/_filters_bar.html' %}

    <!-- Recipe Grid -->
    <div id="grid" class="uk-grid-medium uk-grid-match uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
    {% for recipe in recipes %}
        {% include 'partials/_grid.html' %}
    {% endfor %}
    </div>

    <!-- Pagination -->
    {% include 'partials/_pagination.html' %}
</section>
{% endblock %}
