{% extends 'base.html' %}

{% block content %}
<section id="profile" class="uk-container">
    <h1 class="uk-heading-divider uk-h2 uk-margin">Welcome, {{ current_user.user['username']|title }}.</h1>

    <div id="my-recipes" class=" uk-margin uk-inline">
        <h2 class="uk-h4">My Recipes</h2>
        <div id="grid" class="uk-grid-medium uk-grid-match uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
        {% for recipe in recipes %}
            {% include 'partials/_grid.html' %}
        {% endfor %}
        </div>
    </div>

    <div id="my-comments" class="uk-margin uk-inline">    
        <h2 class="uk-h4">Recent Comments</h2>
        {% for comment in current_user.user['comments']|reverse  %}
            <div class="uk-padding-small uk-margin-small-bottom uk-comment">
                <div class="uk-width-expand">
                        <div class="uk-comment-meta">
                            <a href="{{ url_for('recipe', recipe=comment._id, title=comment.title|resub )}}">{{ comment.title|title }}</a>
                        </div>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li>{{ comment.date }}</li>
                        </ul>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p>{{ comment.reply }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% include 'partials/_add_recipe_button.html' %}
{% endblock %}