{% extends 'base.html' %}
{% block content %}
<section id="recipe" class="uk-container">

    <!-- RECIPE TITLE -->
    <h1 class="uk-text-bold uk-text-center">{{ recipe.details.title|title }}</h1>
    <div class="uk-margin-medium" uk-grid>
        
        <!-- RECIPE IMAGE / AUTHOR -->
        <div class="uk-text-center uk-inline uk-width-1-3@m">
            <img height="400" width="375" src="{{ recipe.image[0] }}" alt="{{ recipe.image[1] }}">
            <p><span class="card-lead-text">Author:</span>{{ recipe.details.author }}</p>
        </div>

        <!-- DETAILS -->
        <div class="uk-padding-bottom uk-inline uk-width-2-3@m">
            <p class="uk-text-lead">{{ recipe.details.description }}</p>
            <span class="cuisine-badge">{{ recipe.filters.cuisine|title }}</span>

            <!-- NUTRITION TABLE -->
            <div class="uk-margin-medium uk-overflow-auto">
                <table class="uk-table uk-table-divider uk-table-striped uk-table-small uk-table-justify">
                    <caption class="uk-text-bold">Nutrition</caption>
                    <thead>
                        <tr>
                            {% for item in recipe.nutrition %}
                                <th class="uk-text-bold">{{ item[0] }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for item in recipe.nutrition %}
                                <th class="uk-text-emphasis">{{ item[1] }}</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- COOK / PREP TIME -->
            <p class="slider-icons">
                <span class="uk-text-nowrap"><i uk-icon="bell"></i> {{ recipe.details.cook_time  }} </span>
                <span class="uk-text-nowrap"><i uk-icon="bolt"></i> {{ recipe.details.prep_time }}</span>
            </p>                

            <!-- TAGS -->
            <p>
                <i uk-icon="tag"></i>
                {% for key, value in recipe.filters.items() %}
                    {% if key in ['planning', 'mood', 'diet', 'skill', 'cuisine'] and value != "" %}
                        <a class="tags uk-text-nowrap" href="{{ url_for('categories', category=key, data=value) }}"><i uk-icon="hashtag"></i>{{ value }}</a>
                    {% endif %}
                {% endfor %}
            </p>
            

            <!--ICONNAV -->
            <div class="uk-margin-top uk-position-bottom-right">
                <ul class="uk-iconnav">
                    {% include 'partials/_favourites_menu.html' %}
                    <li  uk-tooltip="title: Comments; pos: top-right"><i uk-icon="comments">  {{ recipe.users.comments|count }} </i></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- LISTS -->
    <div id="recipe-lists" class="uk-text-left uk-margin-large" uk-grid>
        
        <!--INGREDIENTS -->
        <div class="uk-inline uk-width-1-3@l">
            <h3>Ingredients</h3>
            <ul class="uk-list uk-list-bullet">
                {% for v in recipe.ingredients %}
                    <li> {{ v }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <!-- METHODS -->
        <div class="uk-inline uk-width-2-3@l">
            <h3>Preparation</h3>
            <p>{{ recipe.details.serves }}</p>
            <ol class="uk-list uk-list-divider">
                {% for v in recipe.methods %}
                    <li> {{ v }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</section>


<!-- COMMENTS -->
<section id="comments" class="uk-container uk-margin-large">
    <h2>Comments</h2>
    <p class="uk-margin-remove-bottom">Have your say about this recipe!</p>

    <!-- USER COMMENTS -->
    <div id="user-comments" class="uk-margin-medium">

        <!-- LOOP OVER COMMENTS -->
        {% if recipe.users.comments %}
            {% for comment in recipe.users.comments %}
                {% include 'partials/_comments.html' %}
            {% endfor %}
        {% else %}

            <!-- PLACEHOLDER IF NO COMMENT EXISTS -->    
            <div id="comments-placeholder" class="uk-placeholder uk-text-center uk-padding-large">
                <p>Such Empty, No Comments Yet.</p>
            </div>
        {% endif%}
    </div>

    <!-- FORM / ALERT -->
    <h3>Leave a comment ...</h3>

    <!-- REQUIRE SIGN IN TO POST A COMMENT -->
    {% if not current_user.is_authenticated %}
    <div class="uk-alert-primary" uk-alert>
        <p>You must be logged in to comment. <a class="uk-align-right@s uk-margin-remove-bottom" href="{{ url_for('sign', url='in') }}" class="sign-link"> Sign In </a></p>
    </div>

    <!-- COMMENT INPUT FORM -->
    {% elif current_user.is_authenticated %}
    <form id="comments-form" method="" action="" class="uk-text-right">
        <label class="uk-form-label" for="form-reply-comment">Reply <i uk-icon="reply"></i></label>
        <input class="uk-input" id="form-reply-comment" type="text" placeholder="Comment here ..." autocomplete="off" required>
        <input type="hidden" id="hidden-input" value="{{ current_user.user['username'] }}">
        <input class="uk-button-primary uk-margin-small uk-button" type="submit" value="Send"></input>
    </form>
    {% endif %}

    <!-- GIVE JAVASCRIPT SOME RECIPE DETAILS -->
    <script>
        const recipeId = '{{ recipe._id }}';
        const recipeTitle = '{{ recipe.details.title }}';
    </script>
</section>
{% include 'partials/_add_recipe_button.html' %}
{% endblock %}