{% extends 'base.html' %}
{% block content %}
<section id="sign">

    <!-- LOGO / HEADING -->
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo_large_black.png') }}" alt="foodie logo"></a>
    <h1>Sign {{ url }} to <strong>Foodie</strong></h1>

    <!-- FORM  -->
    <form action="" method="POST" autocomplete="off" novalidate>
        {{ form.hidden_tag() }}

        <!-- USERNAME -->
        <p class="uk-form-label">{{ form.username.label }}<br />{{ form.username(class_="uk-input") }}</p>
        {% if form.username.errors %}
            <p>{% for error in form.username.errors %}<span class="flashes">{{ error }}</span>{% endfor %}</p>
        {% endif %}

        <!-- PASSWORD -->
        <p class="uk-form-label">{{ form.password.label }}<br />{{ form.password(class_="uk-input",  autocomplete="off") }}</p>
        {% if form.password.errors %}
            <p>{% for error in form.password.errors %}<span class="flashes">{{ error }}</span>{% endfor %}</p>
        {% endif %}

        <!-- REMEMBER ME -->
        <p class="uk-form-label">{{ form.remember(class_="uk-checkbox") }} {{ form.remember.label }}</p>

        <!-- SUBMIT -->
        <p>{{ form.submit(class_="uk-button uk-button-large uk-width-1-1") }}</p>
    </form>

    <!-- CHANGE SIGN UP / IN URL -->
    <div>
        {% if url == 'in' %}
            <p>Not Registered Yet? <a href="{{ url_for('sign', url='up') }}" class="sign-link">Sign Up</a></p>
        {% else %}
            <p>Already Registered? <a href="{{ url_for('sign', url='in') }}" class="sign-link">Sign In</a></p>
        {% endif %}
    </div>

    <!-- FLASH ERROR MESSAGES -->
    <div>
        {% with messages = get_flashed_messages(category_filter=["sign-error"]) %}
            {% if messages %}
                <ul class=flashes>
                    <!-- MESSAGE -->
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</section>
{% endblock %}