                    <!-- <a href="#" class="slider-items">
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="{{ r.image_details[0] }}" alt="{{ r.image_details[1] }}">
                                    </div>
                                    <div class="uk-card-body slider-body">
                                        <h3 class="uk-card-title slider-title ">{{ r.recipe_data.title|title }}</h3>
                                        <p>{{ r.recipe_data.description }}</p>
                                    </div>
                                </div>
                            </li>
                        </a> -->
                                <!-- <div class="slider" uk-slider="center: true; autoplay: true; autoplay-interval: 3000;">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        
                <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                   {% for r in rs %}
                    <a href="#" class="slider-items">
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top">
                                        <img src="{{ r.image_details[0] }}" alt="{{ r.image_details[1] }}">
                                    </div>
                                    <div class="uk-card-body slider-body">
                                        <h3 class="uk-card-title slider-title ">{{ r.recipe_data.title|title }}</h3>
                                        <p>{{ r.recipe_data.description }}</p>
                                    </div>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
        
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div> -->